@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100;200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100;200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --color-text: #ffffff;
  --color-background: #000000;

  --color-line: rgba(255, 255, 255, 0.2);
  --color-line-highlight: rgba(255, 255, 255, 0.5);

  --color-white-translucent: rgba(255, 255, 255, 0.2);
  --color-black-translucent: rgba(0, 0, 0, 0.5);

  --color-red: rgba(238, 83, 79, 1);
  --color-red-translucent: rgba(238, 83, 79, 0.5);
  --color-blue: rgba(65, 164, 245, 1);
  --color-blue-translucent: rgba(65, 164, 245, 0.5);
  --color-yellow: rgba(231, 185, 66, 1);

  --color-star: #e7b942;

  --color-NM: #b9ffc4;
  --color-HD: #fdffb1;
  --color-HR: #ffcccc;
  --color-DT: #f2ccff;
  --color-FM: #9fc4e5;
  --color-FcM: #fcab70;
  --color-TB: #f0f0f0;
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

#app {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  margin: 0;
}
